<html lang='en'>
    <head>
        <link rel='preconnect' href='https://fonts.googleapis.com' />
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
        <link href='https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'
              rel='stylesheet' />
        <link rel='preconnect' href='https://fonts.googleapis.com' />
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
        <link href='https://fonts.googleapis.com/css2?family=Young+Serif&display=swap'
              rel='stylesheet' />
    </head>
    <style>
        @page {
          size: 21cm 29.7cm;
        }
        :root {
          --grey-100: #d7dae0;
          --grey-600: #5e6470;
          --grey-900: #1a1c21;
          --pink-num: #ed1b99;
          --pink-line: #ff1da4;
        }
        /******************
        * CSS Reset START *
        ******************/

        /* Box sizing rules */
        *,
        *::before,
        *::after {
          box-sizing: border-box;
        }

        /* Prevent font size inflation */
        html {
          -moz-text-size-adjust: none;
          -webkit-text-size-adjust: none;
          text-size-adjust: none;
        }

        /* Remove default margin in favour of better control in authored CSS */
        body,
        h1,
        h2,
        h3,
        h4,
        p,
        figure,
        blockquote,
        dl,
        dd {
          margin-block: 0;
        }

        /* Set shorter line heights on headings and interactive elements */
        h1,
        h2,
        h3,
        h4,
        button,
        input,
        label {
          line-height: 1.1;
        }

        /* Balance text wrapping on headings */
        h1,
        h2,
        h3,
        h4 {
          text-wrap: balance;
        }

        /* A elements that don't have a class get default styles */
        a:not([class]) {
          text-decoration-skip-ink: auto;
          color: currentColor;
        }

        /* Make images easier to work with */
        img,
        picture {
          max-width: 100%;
          display: block;
        }

        /****************
        * CSS Reset END *
        ****************/

        body {
          position: relative;
          background: #ffffff;
          font-family: Inter;
        }

        #title {
          position: absolute;
          left: 0;
          top: 0;
          margin-top: 0;
          font-family: YoungSerif;
          font-style: normal;
          font-weight: 600;
          font-size: 8mm;
          line-height: 15.55mm;
          color: var(--grey-900);
        }

        #logo {
          position: absolute;
          width: 30mm;
          height: 24mm;
          right: 0;
          top: 0;
        }

        #invoice-details {
          position: absolute;
          left: 0;
          top: 31mm;
          font-size: 3.5mm;
          padding: 0;
        }
        #invoice-details > div {
          display: inline-block;
          vertical-align: top;
          margin: 0 6mm 0 0;
        }
        #invoice-details h3 {
          color: var(--grey-900);
          font-weight: 600;
        }
        #invoice-details p {
          color: var(--grey-600);
          font-weight: 400;
        }
        #invoice-details #payable {
          width: 39.5mm;
        }
        #invoice-details :is(#billed-to, #from) {
          width: 52mm;
        }

        #items-table {
          position: absolute;
          left: 0;
          top: 82mm;
          width: 100%;
          padding-left: 8mm;
          border-left: 1mm solid var(--pink-line);
          border-collapse: collapse; /* required for borders to show in table */
          --first-col-left-pad: 6mm;
        }
        #items-table thead th {
          font-weight: 600;
          font-size: 2.8mm;
          text-transform: uppercase;
          color: var(--grey-600);
        }
        #items-table thead tr :first-child {
          padding: 0 2mm 4mm var(--first-col-left-pad);
        }
        #items-table thead tr :not(:first-child) {
          padding: 0 2mm 4mm;
        }
        #items-table tbody th {
          padding: 4mm 2mm 4mm var(--first-col-left-pad);
        }
        #items-table tbody td {
          padding: 4mm 2mm;
          font-size: 3.5mm;
        }
        #items-table tfoot th {
          padding: 4mm 2mm 0 var(--first-col-left-pad);
        }
        #items-table tfoot td {
          padding: 4mm 2mm 0;
        }
        #items-table tfoot {
          position: relative;
          display: table-row-group; /* so that tfoot doesn't render on every page */
        }
        #items-table tfoot::before {
          content: '';
          position: absolute;
          top: 0;
          left: var(--first-col-left-pad);
          height: 0.25mm;
          width: calc(100% - var(--first-col-left-pad) - 2mm); /* table left + right padding */
          border-top: 0.25mm solid var(--grey-100);
        }
        #items-table :is(thead, tbody) :is(th, td) {
          vertical-align: top;
        }
        #items-table tfoot :is(td, th) {
          font-size: 4.5mm;
          vertical-align: baseline;
        }
        #items-table tr :first-child {
          font-weight: 600;
          text-align: left;
          width: 48mm;
        }
        #items-table tr :nth-child(2) {
          text-align: left;
        }
        #items-table :is(thead, tbody) tr :nth-child(3) {
          text-align: center;
          width: 18mm;
        }
        #items-table :is(:is(thead, tbody) tr :is(:nth-child(4), :nth-child(5)), tfoot tr :last-child) {
          text-align: right;
          width: 28mm;
        }
    </style>
    <body>
        <h1 id='title'>Invoice</h1>
        <img id='logo' src='{{ logoSrc }}' />
        <section id='invoice-details'>
            <div id='payable'>
                <h3>Payable {{ totalAmount }}</h3>
                <p>Due {{ dates.due }}</p>
                <p>Issued {{ dates.today }}</p>
                {{!-- <p>Ref. {{ invoiceNumber }}</p>
            --}}
        </div>
        <div id='billed-to'>
            <h3>Billed to</h3>
            <p>{{ customer.name }}</p>
            <p>{{ customer.phone }}</p>
        </div>
        <div id='from'>
            <h3>From</h3>
            <p>{{ company.name }}</p>
            <p>{{ company.address }}</p>
            <p>{{ company.phone }}</p>
        </div>
    </section>
    <table id='items-table'>
        <thead>
            <tr>
                <th>ITEM DESCRIPTION</th>
                <th>DETAILS</th>
                <th>QTY</th>
                <th>RATE</th>
                <th>AMOUNT</th>
            </tr>
        </thead>
        <tbody>
            {{#each lineItems }}
                <tr>
                    <th>{{ this.name }}</th>
                    <td>{{ this.details }}</td>
                    <td>{{ this.quantity }}</td>
                    <td>{{ this.rate }}</td>
                    <td>{{ this.amount }}</td>
                </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th colspan='4'>Total ({{ currency }})</th>
                <td>{{ totalAmount }}</td>
            </tr>
        </tfoot>
    </table>
</body>
</html>
